@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4" style="padding-top: 40px">
            <p class="fw-bold">Welcome to Deck Master!</p>
            <p>
            We specialize in providing high-quality decks of cards for all your gaming and card 
            collecting needs. Our online store offers a wide variety of decks, from standard playing
            cards to collectible and limited-edition decks.
            </p>

            <p>
            Our decks are made with durable materials and feature stunning designs, making them
            perfect for both casual and serious players. We also offer custom deck printing services
            to help you create your own personalized deck.
            </p>
            
            <p>
            Thank you for choosing Deck Master for all your card needs. Shop now and discover the
            perfect deck for you!
            </p>

        </div>
        <div class="form-group d-flex justify-content-center mt-3">
            <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index">
                <button class="btn btn-primary">Shop Now</button>
            </a>
        </div>
    </div>
</div>
